@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #2e43a1;
}

#column-2 {
  background: #9f91f0;
}

#column-3 {
  background: #acd0fa;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: #08532e;
  }

  #column-1 {
    background-color: #159c58;
    width: 50%;
  }

  #column-2 {
    background-color: #51eea0;
    width: 50%;
  }

  #column-3 {
    background-color: #c5f5dd;
    width: 100%;
  }

  footer {
    background-color: #e9fcf2;
  }
  
}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: #9e9519;
  }

  #column-1 {
    background-color: #e4d33f;
    width: 33.33%;
  }

  #column-2 {
    background-color: #f3eb82;
    width: 33.33%;
  }

  #column-3 {
    background-color: #f5f2ca;
    width: 33.33%;
  }

  footer {
    background-color: #faf8e4;
  }
   
}
